@model UserProfileViewModel
@{
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }
}

<h5>  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
      . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
      . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  <a href="/IdeasDashboard" class="button button-primary">Bright Ideas |</a> <a href="/Logout" class="button button-primary">Logout</a> </h5>
<h2> </h2>
<h3> @Model.Profiled_user.name</h3>
<h3> @Model.Profiled_user.alias</h3>
<h3> @Model.Profiled_user.email</h3>
<h3> </h4>
<h5> ______________________________________________________________________________________________________________</h5>
<h2> </h2>
<h3> Total Number of Posts: @Model.UserPosts </h3>
<h2> </h2>
<h3> Total Number of Likes: @Model.UserLikes </h3>